<div class="bg-gray-100 py-1">
    <header class="container mx-auto my-9">
        <div class="flex justify-around items-center">
            <div class="text-xl">
                <mat-icon class="align-middle">restaurant_menu</mat-icon>
                Pizzeria Gula
            </div>
            <div>
                <nav class="flex gap-6 text-lg items-center">
                    <a routerLink="/application/home">Inicio</a>
                    <a routerLink="/application/pizzas">Pizzas</a>
                    <a routerLink="/application/contacto">Contacto</a>
                    <div class="gap-2 flex">
                        <a routerLink="/auth/login" class="bg-[var(--color-primary)] hover:bg-[var(--color-primary-700)] py-2 px-4 rounded-lg text-white">Login</a>
                    <a routerLink="/auth/register" class="bg-gray-300 hover:bg-gray-500 py-2 px-4 rounded-lg text-black">Register</a>
                    </div>
                    <div class="rounded-full bg-gray-200 hover:bg-gray-300 size-10 flex justify-center items-center">
                        <mat-icon class="align-middle">person</mat-icon>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>