<h2 mat-dialog-title>{{userId ? 'Editar' : 'Agregar'}} Usuario</h2>
<div mat-dialog-content class="bg-gray-50 rounded-xl p-6 shadow-sm">
    <form class="grid grid-cols-1 md:grid-cols-2 gap-6" [formGroup]="form">
        <!-- Columna izquierda -->
        <div class="flex flex-col gap-4">
            <mat-form-field class="w-full *:px-3">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" name="email" required>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" name="password" required>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Nombres Completos</mat-label>
                <input matInput formControlName="fullName" name="fullName" required>
            </mat-form-field>

        </div>

        <!-- Columna derecha -->
        <div class="flex flex-col gap-4">

            <mat-form-field class="w-full *:px-3">
                <mat-label>Telefono</mat-label>
                <input matInput type="tel" formControlName="phone" name="phone" required>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status" name="status" required>
                    <mat-option [value]="'active'">Activo</mat-option>
                    <mat-option [value]="'inactive'">Inactivo</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Roles</mat-label>
                <mat-select formControlName="roles" name="roles" multiple>
                    @for (role of roles; track role.id) {
                    <mat-option [value]="role.id">
                        {{ role.name }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>

        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveUser()" [disabled]="form.invalid">
        {{userId ? 'Actualizar' : 'Guardar'}}
    </button>
</div>