<h2 mat-dialog-title>{{paymentId ? 'Editar' : 'Agregar'}} Pagos</h2>
<div mat-dialog-content class="bg-gray-50 rounded-xl p-6 shadow-sm">
    <form class="grid grid-cols-1 md:grid-cols-2 gap-6" [formGroup]="form" enctype="multipart/form-data">
        <!-- Columna izquierda -->
        <div class="flex flex-col gap-4">

            <mat-form-field class="w-full *:px-3">
                <mat-label>Id Orden</mat-label>
                <mat-select formControlName="orderId" name="orderId">
                    @for(order of orders; track order.id) {
                      <mat-option [value]="order.id">{{order.id}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currency" name="currency">
                    <mat-option value="PEN">Soles</mat-option>
                    <mat-option value="DOL">Dólares</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Monto</mat-label>
                <input matInput type="number" formControlName="amount" name="amount" required>
            </mat-form-field>

        </div>

        <!-- Columna derecha -->
        <div class="flex flex-col gap-4">

            <mat-form-field class="w-full *:px-3">
                <mat-label>Cod. Proveedor Externo</mat-label>
                <input matInput type="number" formControlName="externalId" name="externalId" required>
            </mat-form-field>
            
            <mat-form-field class="w-full *:px-3">
                <mat-label>Metodo de pago</mat-label>
                <mat-select formControlName="paymentProviderId" name="paymentProviderId">
                    @for(provider of paymentProviders; track provider.id) {
                      <mat-option [value]="provider.id">{{provider.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Estado de pago</mat-label>
                <mat-select formControlName="paymentStatusId" name="paymentStatusId">
                    @for(status of paymentStatuses; track status.id) {
                      <mat-option [value]="status.id">{{status.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Fecha de Procesamiento</mat-label>
                <input matInput type="date" formControlName="processedAt" name="processedAt" required>
            </mat-form-field>

        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="savePayments()" [disabled]="form.invalid">
        {{paymentId ? 'Actualizar' : 'Guardar'}}
    </button>
</div>
