<h2 mat-dialog-title>{{orderId ? 'Editar' : 'Agregar'}} Ordenes</h2>
<div mat-dialog-content class="bg-gray-50 rounded-xl p-6 shadow-sm">
    <form class="grid grid-cols-1 md:grid-cols-2 gap-6" [formGroup]="form" enctype="multipart/form-data">
        <!-- Columna izquierda -->
        <div class="flex flex-col gap-4">

            <mat-form-field class="w-full *:px-3">
                <mat-label>Nro. Orden</mat-label>
                <input matInput formControlName="orderNumber" name="ordeorderNumberrId" required>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Usuario</mat-label>
                <mat-select formControlName="customerId" name="customerId" required>
                    @for (user of users; track user.id) {
                        <mat-option [value]="user.id">{{ user.fullName }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Id Direccion</mat-label>
                <mat-select formControlName="addressId" name="addressId" required>
                    @for (address of addresses; track address.id) {
                        <mat-option [value]="address.id">{{ address.street }}, {{ address.city }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="status" name="status" required>
                    <mat-option [value]="'pending'">Pendiente</mat-option>
                    <mat-option [value]="'in_progress'">En progreso</mat-option>
                    <mat-option [value]="'completed'">Completado</mat-option>
                    <mat-option [value]="'canceled'">Cancelado</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Met. Entrega</mat-label>
                <mat-select formControlName="deliveryMethod" name="deliveryMethod" required>
                    <mat-option [value]="'DELIVERY'">DELIVERY</mat-option>
                    <mat-option [value]="'PICKUP'">PICKUP</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Nota</mat-label>
                <textarea matInput formControlName="notes" name="notes" required rows="4"></textarea>
            </mat-form-field>

        </div>

        <!-- Columna derecha -->         

        <div class="flex flex-col gap-4">

            <mat-form-field class="w-full *:px-3">
                <mat-label>Subtotal</mat-label>
                <input matInput type="number" formControlName="subtotal" name="subtotal" required>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Impuestos</mat-label>
                <input matInput type="number" formControlName="tax" name="tax" required>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Coste de Entrega</mat-label>
                <input matInput type="number" formControlName="deliveryFee" name="deliveryFee" required>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Descuento total</mat-label>
                <input matInput type="number" formControlName="discountTotal" name="discountTotal" required>
            </mat-form-field>
            
            <mat-form-field class="w-full *:px-3">
                <mat-label>Total</mat-label>
                <textarea matInput type="number" formControlName="total" name="total" required></textarea>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Status Pago</mat-label>
                <mat-select formControlName="paymentStatus" name="paymentStatus" required>                
                    <mat-option [value]="'unpaid'">No pagado</mat-option>
                    <mat-option [value]="'paid'">Pagado</mat-option>                    
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full *:px-3">
                <mat-label>Fecha</mat-label>
                <input matInput type="date" formControlName="placedAt" name="placedAt" required>
            </mat-form-field>

        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="saveOrder()" [disabled]="form.invalid">
        {{orderId ? 'Actualizar' : 'Guardar'}}
    </button>
</div>
