<div class="bg-gray-100">
    <footer class="container mx-auto py-5">
        <div class="flex justify-around items-center">
            <div class="text-gray-500">
                    &copy; 2025 Pizzeria Gula. Todos los derechos reservados.
            </div>
            <div>
                <nav class="flex gap-4 text-gray-500">
                    <a href="">Instagram</a>
                    <a href="">Facebook</a>
                    <a href="">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>
</div>